
*.log
*.jar
*.gz
optionsof.txt
options.txt
/saves
usercache.json
usernamecache.json
/config/jei/worldSettings.cfg
config/jei/worldSettings.cfg
.mixin.out/audit/mixin_implementation_report.csv
.mixin.out/audit/mixin_implementation_report.txt
mods/memory_repo/com/github/mcjty/mcjtytools/0.0.21/mcjtytools-0.0.21.jar.meta
